<div id="banner">
  <div class="banner-inner">
    <span id="logo"><span class="octicon octicon-mark-github"></span></span>

   
    <div class="downloads">
      <span>편의점 바로가기:       </span>
      <ul>
        <li><a href="http://www.7-eleven.co.kr/" class="button">7-eleven</a></li>
        <li><a href="http://cu.bgfretail.com/index.do" class="button">Cu</a></li>
        <li><a href="https://www.ministop.co.kr/" class="button">Mini stop</a></li>
        <li><a href="http://gs25.gsretail.com/" class="button">Gs25</a></li>
      </ul>
    </div>
  </div>
</div>
