<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Convenience store ԅ( `ิิ ∇ `ิิ ԅ)</title>
    <link rel="stylesheet" href="assets/stylesheets/styles.css">
    <link rel="stylesheet" href="assets/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="assets/javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>

  <header>
    <a href="">
      <h1><font color="#a3ffd8">Convenience store ԅ( `ิิ ∇ `ิิ  ԅ)  </font><p>  </p></h1>
      <p><font color="#a3ffd8"> 다같이 즐기는 편의점 세상 </font></p><p> </p>
    </a>
  </header>

 
  <div id="banner">
  <div class="banner-inner">
    <span id="logo"><span class="octicon octicon-mark-github"></span></span>

   
    <div class="downloads">
      <span>편의점 바로가기:       </span>
      <ul>
        <li><a href="http://www.7-eleven.co.kr/" class="button">7-eleven</a></li>
        <li><a href="http://cu.bgfretail.com/index.do" class="button">Cu</a></li>
        <li><a href="https://www.ministop.co.kr/" class="button">Mini stop</a></li>
        <li><a href="http://gs25.gsretail.com/" class="button">Gs25</a></li>
      </ul>
    </div>
  </div>
</div>

 
  <div class="wrapper">
 
    <nav>
  <ul><li class="tag-h1"><a href="#gs25">Gs25</a></li><li class="tag-h2"><a href="#-">햄 참치마요</a></li><li class="tag-h2"><a href="#-">딸기 샌드위치</a></li><li class="tag-h2"><a href="#-">위대한 닭강정</a></li><li class="tag-h1"><a href="#seven-eleven">SEVEN ELEVEN</a></li><li class="tag-h2 active"><a href="#---">맛있는 어묵 국물 쌀떡볶이</a></li><li class="tag-h2"><a href="#-">함박&amp;치킨까스 도시락</a></li><li class="tag-h1"><a href="#cu">Cu</a></li><li class="tag-h2"><a href="#">갈릭치즈버거</a></li><li class="tag-h2"><a href="#5900-">5900냥 피자</a></li><li class="tag-h2"><a href="#">콘소메맛팝콘</a></li></ul>
</nav>

 
  <section style="height: auto;">
    <h1 id="gs25">Gs25</h1>
    <a href="#GS25">
    <p>과거에 LG25였으나, 2005년도 GS리테일이라는 회사로 독립하며, GS25로바뀌게되었으며, 유일하게 한국 브랜드이다</p>
 
    <p><img src="https://rv.wkcdn.net/http://rigvedawiki.net/r1/pds/GS25/gs25.jpg"></p>
 
 <p><font size="6">★ 할인카드목록</font></p>
 <p><img src="http://image.gsshop.com/mi13/img/footer/img_retail_membership.gif"></p>
 
   </a><a href="#GS25_1">
   <h2 id="-">햄 참치마요</h2>
 <p><img src="http://cfile9.uf.tistory.com/image/26306B3A54C4E96119913A"></p>
     <p>탐스러운 햄참치마요 개봉박두:D </p>
     
     
      <p><img src="http://www.ezyeconomy.com/news/photo/201501/56668_4845_3136.JPG"></p>
       <p>보기만해도 꿀꺽 군침이 들죠 ? 
       제가한번 먹어보겠습니다.</p>
       
       <p><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s306x306/e15/11098716_451143671728569_1890796381_n.jpg"></p>
 <p>단돈 1300원이 아깝지 않으맛! 지금당장 GS25로 고고!  </p>


    </a><a href="#GS25_2">
    <h2 id="-">딸기 샌드위치</h2>
 
 <p><img src="http://pds25.egloos.com/pds/201502/24/32/e0038332_54ec2f244c7f9.jpg"></p>
     <p>보기만해도 군침이 꿀꺽 도는 딸기 샌드위치 ^^~ 너무너무 맛나보이죠? :D </p>
     
    <p><img src="http://i.imgur.com/Ok6z2m4.jpg"></p>
     <p>자.. 저 비주얼을 보시라!!! 다들 침넘어가는소리 여기까지 들리내요 ~ </p>
     
     <p><img src="http://i.imgur.com/anNzUJq.jpg"></p>
     <p>냠냠.. 쩝쩝 냠냠.. 쩝쩝 .. 뜨든!!!! 멈출수가없어요 </p>
     <p>단돈 2000원에 이 행복 나눠가져요~.   </p>
     
      </a><a href="#GS25_3">
      <h2 id="-">위대한 닭강정</h2>
 
 <p><img src="http://pds21.egloos.com/pds/201305/18/83/a0016483_51964611697f5.jpg"></p>
     <p> 야식하면 닭이죠? 편의점계의 멕x카나 위대한 닭강정 입니다 </p>
     
    <p><img src="https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/s306x306/e15/1515704_435436309962076_962720224_n.jpg"></p>
     <p>닭강정의 고소한냄새가 모니터를 뚫고 나올것같은 비쥬얼~! </p>
     <p>중요한 손님오시는날, gs25 위대한 닭강정 하나면 준비 끝.^^  </p>
 
 
 
 
 
<h1 id="seven-eleven">SEVEN ELEVEN</h1>
    <p><img src="http://ncc.phinf.naver.net/20140425_109/1398383274342B3g8o_JPEG/1-1.jpg" alt="7 Eleven"></p>
    <p>세븐일레븐은 현재 GS의 혜자도시락의 아성을 무너트릴 혜리도시락을 출시하여 맛과 가격 두마리 토끼를 모두 잡고 있다.</p>
    
    <p><span style="font-size:15pt">★ 할인카드목록</span></p>
  
    <img src="http://www.lotteworld.com/_upload/CM0129/CM0129_600_197.jpg" alt="ktclub">
    <img src="http://cfile21.uf.tistory.com/image/2112CF495243DF6C31A643" width="191" height="120" alt="ohpoint" max-width:80%="">
    <p>&nbsp;</p>
    
    <h2 id="---">맛있는 어묵 국물 쌀떡볶이</h2>
    <p><img src="https://github.com/KoreatechLJW/koreatechljw.github.com/blob/master/photo/seven_2/1.JPG?raw=true" alt="seven_2_1"></p>
    <p><img src="https://github.com/KoreatechLJW/koreatechljw.github.com/blob/master/photo/seven_2/2.JPG?raw=true" alt="seven_2_1"></p>
    <p><img src="https://github.com/KoreatechLJW/koreatechljw.github.com/blob/master/photo/seven_2/3.JPG?raw=true" alt="seven_2_1"></p>
    <p><img src="https://github.com/KoreatechLJW/koreatechljw.github.com/blob/master/photo/seven_2/4.JPG?raw=true" alt="seven_2_1"></p>
    
    <h2 id="-">함박&amp;치킨까스 도시락</h2>
    
    <p><img src="https://github.com/KoreatechLJW/koreatechljw.github.com/blob/master/photo/seven_1_1/1_1.jpg?raw=true" alt="seven_1_1"></p>
    <p>&nbsp;</p>
    <p>포장지에 혜리가 뙇</p>
    <p>&nbsp;</p>
    <p><img src="https://github.com/KoreatechLJW/koreatechljw.github.com/blob/master/photo/seven_1_1/1_2.jpg?raw=true" alt="seven_1_2"></p>
    <p>&nbsp;</p>
    <p>도시락치고 4천원은 비싸지만 2단도시락에 고기고기하고 튀김튀김한 반찬들이 들어있음</p>
    <p>&nbsp;</p>
    <p><img src="https://github.com/KoreatechLJW/koreatechljw.github.com/blob/master/photo/seven_1_1/1_3.jpg?raw=true" alt="seven_1_3"></p>
    <p>&nbsp;</p>
    <p>머스타드 소스 맛있는데 너무적다 1개 더주세요....</p>
    <p>&nbsp;</p>
    <p><img src="https://github.com/KoreatechLJW/koreatechljw.github.com/blob/master/photo/seven_1_1/1_4.jpg?raw=true" alt="seven_1_4"></p>
    <p>&nbsp;</p>
    <p>마지막으로 소세지 뭐 그냥 햄쪼가리 맛입니다</p>
    <p>&nbsp;</p>
 
  <p><span style="font-size:15pt">※후기</span></p>
    <p>도시락치고 비싼 4천원이란 가격이 살짝 부담스럽게 느껴지실 수 있지만, 4천원 이상으로 배부르고 맛있습니다. 덤으로 혜리까지 보니 일석이조~~하지만 칼로리가 900kcal...</p>
    
    <ul>
      <li>가격 ★★★☆</li>
      <li>맛 ★★★★☆</li>
      <li>혜리 ★★★★★</li>
      <li>칼로리 ★★★★★★★★★</li>
    </ul>
    <p>&nbsp;</p>
<h1 id="cu">Cu</h1>
<p><img src="https://rv.wkcdn.net/http://rigvedawiki.net/r1/pds/cvs4u.jpg"></p>


    <p>구 훼미리마트 , 현 CU. 국내편의점중 단연 1위입니다.</p>
<p>정문에 2곳이나 있어 다들 친한 CU! </p>

<p><font size="6">★ 할인카드목록</font></p>
 <p><img src="http://cu.bgfretail.com/images/membership/membership_card.jpg"></p>
 
 <h2 id="">갈릭치즈버거</h2>
 <p><img src="http://cfile9.uf.tistory.com/image/26306B3A54C4E96119913A"></p>
     <p>편의점하면 햄버거를 빼놓을수없죠? </p>
     <p>대다수의 여러분들이 편의점 햄버거 한번씩은 드셔 보셨을것으로 예상됩니다 </p>
     <p>편의점버거계의 뜨는 최강자~ CU갈릭치즈버거를 소개합니다. </p>
     
   <p><img src="http://i.ytimg.com/vi/tyiQJ0ppjWU/maxresdefault.jpg"></p>
   
   <p>뜨헉 사진도 찍기전에 먹어버렸습니다.. ^^;</p>
     <p> 제대로 보고싶으시다면 지금 바로 가까운 Cu로! </p>
        <p> 무더운 여름 갈릭치즈버거 하나라면 삼시세끼가 문제 없겠죠? </p>
   
 <h2 id="5900-">5900냥 피자</h2>


 <p><img src="http://cfile25.uf.tistory.com/image/2235E34854E6D62214DEDC"></p>
      <p>옴머!! 편의점에 피자가??</p>
     <p>전자렌지 피자 NO!NO! CU에서 직접 구워주는 피자!!!  </p>
     <p>지금부터 소개합니다. </p>
 
 <p><img src="http://www.econovill.com/news/photo/201407/216757_184_2850.jpg"></p>
     <p>점장 옵빠 너무 멋지다~~ </p>
     <p>번호좀주세요~^^ !! 하하 장난이구요  </p>
     <p>직접 오븐에 굽는모습 보이시죠 </p>
 <p>다시는 편의점역사상 나올수없는 퀄리티~ </p>
 

<p><img src=" https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR4I78ZAobh6yxsyO2VFjAPRZHloCvLM39-4ufuGympzduFSnYM"></p>
 <p>지금부터. 시식. 들어갑니다. </p>
   
   <p><img src=" https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/s306x306/e15/10644039_836606389683791_1646191450_n.jpg"></p>
 <p>쭈우욱 쭈우욱 늘어나거라 치즈야~ :D </p>
  <p>하지만 맛있다고 매일먹으면 뱃살감당안된다는거~ </p>
   <p>인지하시구 지금당장 cu로 고고~</p>
   <p>(참고로 배달은안됩니다ㅎㅎ  하하 내배꼽~~! 띠용띠용)</p>
     

<h2 id="">콘소메맛팝콘</h2>


 <p><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQRP6O4IoJLd_992899c_8cUGpJxmyPufM1GKrj3c10qzo9I9zpKQ"></p>
      <p>콘소메맛 팝콘~~!</p>
     <p>콘소메맛 팝콘사러가다가 순하리가있어서 한병사왔습니다^^; 쿨럭;;</p>
     
<p><img src="http://cfile30.uf.tistory.com/image/273C59365225956F050CF5"></p>
 <p>일단 냄새한번 맡아주고!</p>
   
     <p><img src="http://upload.inven.co.kr/upload/2014/12/28/bbs/i1011091713.jpg"></p>
     <p>종이컵에 따라서, 순하리한잔이랑 뚝딱!^^ 끝. </p>
     <p>(순하리 처음인데 너무맛있내요^^ 한잔으로 안끝났다는 :D) </p>
    
</a></section></div></body></html>
